html{
    margin: 0;
    padding: 0;
    background-color: #0f1f40;
}

.container{
    width: 100%;
    margin-top: 3rem;
    background-color: #0f1f40;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .notflix{
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #61dafb;
    box-shadow: 10px 10px 10px rgba(50, 204, 225, 0.1);
  }
  
  .search{
     width: 100%;
     max-width: 100%;
    margin: 4rem;
    // display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
  }
  
  .search input{
    width: 100%;
    
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    border: none;
    // font-size: 1rem;
  }
  .movie{
    /* width: 310px;
    height: 460px; */
    margin: 1.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    box-shadow: 10px 20px 15px -3px rgba(196, 50, 225, 0.1);
  }
  .movie img{
    width: 300px;
    height: 450px;
  }

  .info{
    color: #ffffff;
    justify-content: center;
    align-items: center;
  }
//   .btn{
//     margin: 5px;
//     padding: 7px;
//     border-radius: 10px;
//   }
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #135164;
    color: #ffffff;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    transform: translateY(2px);
  }
  