html{
    margin: 0;
    padding: 0;
    background-color: #0f1f40;
}

.container{
    width: 100%;
    margin-top: 3rem;
    background-color: #0f1f40;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  a{
    text-decoration: none;

  }
  .results{
    color: #61dafb;
  }
  
  .notflix{
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #61dafb;
    box-shadow: 10px 10px 10px rgba(50, 204, 225, 0.1);
    &:hover{
        color: #ffffff;
    }
  }
  
  .search{
     width: 100%;
     max-width: 100%;
    margin: 1rem;
    // display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
  }
  
  .search input{
    width: 80%;
    height: 100%;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
     font-size: 30px;
  }
  .search input:hover{
    background-color: #61dafb;
    color:  #000000;
  }
  .search img{
    width: 35px;
    height: 35px;

  }
  .movie{
    /* width: 310px;
    height: 460px; */
    max-width: 300px;
    margin: 1.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    box-shadow: 10px 20px 15px -3px rgba(196, 50, 225, 0.1);
    background-color: #0b9cc574;

    &:hover{
        transform: scale(1.03, 1.03);
        cursor: pointer;
    }
  }
  .movie img{
    width: 300px;
    height: 450px;
  }

  .movie h4{
    font-weight: bold;
  }

  .info{
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
//   .btn{
//     margin: 5px;
//     padding: 7px;
//     border-radius: 10px;
//   }
.button {
    display: inline-block;
    padding: 10px 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0;
  }

  .button img{
    width: 30px;
    height: 30px;
  }
  
  .button:hover {
    background-color: #61dafb;
    color: #000000;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    transform: translateY(2px);
  }
  form{
    display: flex;
    margin: 0;
    justify-content: center;
  }
  @media only screen and (max-width:500px) {

    .search input{
        font-size: 20px;
    }
    .search{
        margin: 0;
    }

    .button img{
        width: 20px;
        height: 20px;
    }
  }
  
  @media only screen and (max-width:370px) {

    .movie{
        /* width: 310px;
        height: 460px; */
        max-width: 300px;
        margin: 1.5rem;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        border: none;
        box-shadow: 10px 20px 15px -3px rgba(196, 50, 225, 0.1);
        background-color: #0b9cc574;
    
        &:hover{
            transform: scale(1.03, 1.03);
            cursor: pointer;
        }
      }
      .movie img{
        width: 95%;
        height: 95%;
      }

      .search{
        width: 100%;
        max-width: 100%;
       margin: 0rem;
    //    display: flex;
       justify-content: center;
       align-items: center;
       padding: 1rem;
       border-radius: 3rem;
     }
     
     .search input{
       width: 70%;
       
       justify-content: center;
       padding: 15px 24px;
       border-radius: 10px;
       border: none;
        font-size:15px;
     }
     .button {
         display: inline-block;
        padding: 10px 10px;
        border: 2px solid #000000;
        border-radius: 10px;
        background-color: #ffffff;
        color: #000000;
        transition: all 0.3s ease;
        cursor: pointer;
        // margin: 10px;
      }

    
  }